3C6/.ipynb_checkpoints/
*.npy
M1/.ipynb_checkpoints/
3C6/__pycache__/
4C6/.ipynb_checkpoints/4C6_Notebook-checkpoint.ipynb
4C6/__pycache__/lab_4c6.cpython-37.pyc
4C7/.ipynb_checkpoints/4C7_Notebook-checkpoint.ipynb
4C6/example.log
4C7/example.log
M1/__pycache__/m1.cpython-37.pyc
3C6/.DS_Store
GC4/.DS_Store
.DS_Store
